$include-css: ();
@import "foundation-apps/scss/foundation";
@import "highlightjs-themes/scss/dark";


$primary-color: #00558b !default;

.sidebar {
  padding: 0;
  background: #f9f9f9;
  border-right: 1px solid #e7e7e7;
}
.sidebar .menu-bar {
  background: #f9f9f9;

  li a {
    font-size: .8rem;
    color: $primary-color;
  }
  
}
.sidebar .menu-bar .title {
  font-size: 0.85rem;
  text-transform: uppercase;
  color: #666;
  font-weight: bold;
  padding-top: 1.5rem;
  padding-bottom: 0;
}

.main-docs-section {
  padding-top: 1rem;
  max-width: 1000px;
}

.wrapper {
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
}
